let mapleader = " "

set smartindent
set shell=/bin/bash
set tabstop=2
set shiftwidth=2
set expandtab
set visualbell
set noerrorbells
set laststatus=2
set backspace+=start,eol,indent

set clipboard=unnamed

source ~/.dotfiles/vim/mappings.vim
