if test -f ./.envrc.local; then
    source_env ./.envrc.local
fi

if command -v nix-shell &> /dev/null
then
    use_flake
fi

# export AWS_ACCESS_KEY_ID=""
# export AWS_SECRET_ACCESS_KEY=""
# export AWS_DEFAULT_REGION=""
# export CACHIX_AUTH_TOKEN=""
# export TAILSCALE_AUTH_KEY=""
