.DS_Store
*.swp
direnv

configstore

yarn/global/node_modules

nvim

# TODO flip gitignore file to allow-listing instead of deny-listing

# nix
environment.d

# set up by nix HM
git/config

# don't care (yet) about a custom bottom config
bottom
neofetch

systemd

raycast
spotifyd
ncspot
packer

rclone
gcloud
op

*.log
/tmp

# managed by nix
tmux/tmux.conf
fish
git

# js tooling
nextjs-nodejs
yarn
gatsby
stackbit-*

result.closure.lz4
result

.envrc.*
.direnv
*.pem

tmp*