[core]
	fileMode = false
	ignorecase = false
[user]
	name = Johannes Schickling
	email = schickling.j@gmail.com
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[url "git@github.com:"]
  insteadOf = https://github.com/
