*.swp
direnv

configstore

yarn/global/node_modules

nvim/init.vim
vim/plugged

# nix
environment.d

# set up by nix HM
git/config

# don't care (yet) about a custom bottom config
bottom

systemd

raycast

rclone

*.log
/tmp

# managed by nix
tmux/tmux.conf
fish

# js tooling
nextjs-nodejs/config.json

gatsby
