" Settings
colorscheme solarized
set number
syntax enable
set background=dark
set smartindent
set tabstop=4
set shiftwidth=4
set expandtab
set visualbell
set noerrorbells
set laststatus=2

let g:ctrlp_custom_ignore = {
      \ 'dir':  '\.git$\|\.hg$\|\.svn$',
      \ 'file': '\.exe$\|\.so$\|\.dll$\|\.pyc$' }
let g:ctrlp_working_path_mode = 'ra'
nnoremap <silent> <D-t> :CtrlP<CR>
nnoremap <silent> <D-r> :CtrlPMRU<CR>
let g:ctrlp_user_command = {
      \ 'types': {
      \ 1: ['.git', 'cd %s && git ls-files . --cached --exclude-standard --others'],
      \ 2: ['.hg', 'hg --cwd %s locate -I .'],
      \ },
      \ 'fallback': 'find %s -type f'
      \ }

let g:airline_powerline_fonts = 1
let g:airline#extensions#tabline#enabled = 1
let g:airline_theme = 'airlineish'

let mapleader = ","
set clipboard=unnamed
set visualbell
set noerrorbells
set mouse=a
map <C-e> :NERDTreeToggle<CR>:NERDTreeMirror<CR>

inoremap jk <Esc>

" Wrapped lines goes down/up to next row, rather than next line in file.
noremap j gj
noremap k gk

" Window
map <C-J> <C-W>j<C-W>_
map <C-K> <C-W>k<C-W>_
map <C-L> <C-W>l<C-W>_
map <C-H> <C-W>h<C-W>_
